# Node.js dependencies
node_modules/

# Build output
dist/

# TypeScript artifacts
tsconfig.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# macOS system files
.DS_Store

# Editor settings
.vscode/
.idea/

# Temp files
*.tmp
*.swp

# Test coverage
coverage/

# ESLint cache
.eslintcache

# DO NOT ignore if you're using npm
# package-lock.jsonfrontend/*_FIX.md
frontend/KEYCLOAK_TOKEN_USAGE.md
