// Variables
$primary-color: #20375a;
$secondary-color: #ffffff;
$tertiary-color: #083680;
$primary-lighter: #d9e8f6;

// Grays
$gray-banner: #f0f0f0;
$footer-gray-color: #adadad;
$footer-dark-gray-color: #1b1b1b;
$sidebar-gray-border-color: #e6e6e6;
$sidebar-text-color: #5c5c5c;

// Button Colors
$breadcrumb-text-color: #5b98da;

// ProductCard specific colors
$product-card-background: #eff7f9;
$product-card-primary: #005ea2;
$quantity-input-height: 39px;
$type-chip-text-color: #6c757d;
$product-card-border-color: #e0e0e0;
$product-card-quantity-color: #666;
$product-card-quantity-hover-color: #f5f5f5;
$product-card-dark-gray: #333;
$product-card-dropdown-border-color: #bdbdbd;
$product-card-price-text-color: #9e9e9e;

// Form Colors
$light-gray-text-color: #757575;
