// Variables
$primary-color: #20375a;
$secondary-color: #ffffff;
$tertiary-color: #083680;

// Grays
$gray-banner: #f0f0f0;
$footer-gray-color: #adadad;
$footer-dark-gray-color: #1b1b1b;

// ProductCard specific colors
$product-card-primary: #005EA2;
$quantity-input-height: 39px;
