// SPACING
// Margin
.mt-3 {
  margin-top: 3rem;
}

// Example container class
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

// APP LAYOUT STYLES
.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding: 2rem;
}
